.frame-content {
    margin: 2em 0;
}


@mixin video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: 1em 0;
}

@mixin video-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@mixin instagram-embed {
    max-width: 540px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    border: 1px solid var(--accent-8);
    box-shadow: none;
    display: block;
    min-width: 326px;
    padding: 0;
    margin: 1em auto !important;
}

@mixin widgetStyles {
    .video-container {
        @include video-container;

        .youtube-embed {
            @include video-embed;
        }
    }

    iframe.instagram-embed {
        @include instagram-embed;
    }

    blockquote.instagram-embed {
        @include instagram-embed;
        text-align: center;
        padding: 1em 0;

        &::before {
            content: none;
        }
    }
}

.content {
    font-family: "Poppins", ui-sans-serif;
    font-weight: 200;
    margin: 0 auto 1em;
    position: relative;

    .metaData {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        .categoryLabel {
            margin: 0;
            border-radius: 0.25rem;
            background-color: var(--accent-2);
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            padding: 0.25rem 0.5rem;
        }
    }

    .mainTitle {
        margin: 0;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    time {
        color: #9b9b9b;
    }

    p {
        line-height: 1.5rem;
        margin: 1.5rem 0 0 0;
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    b, strong {
        font-weight: bold;
    }

    h1 {
        font-family: "Special Elite", sans-serif;
        line-height: 1.25em;
        margin: 2.5rem 0 0 0;
        font-size: 2em;
    }

    h2 {
        font-family: "Special Elite", sans-serif;
        line-height: 1.25em;
        margin: 2rem 0 0 0;
        font-size: 1.5em;

        &::before {
            position: absolute;
            margin-left: -1em;
            font-weight: 300;
            font-size: 1.5rem;
            color: #9b9b9b;
            display: none;
            content: "#";
        }
    }

    h3 {
        font-family: "Special Elite", sans-serif;
        line-height: 1.25em;
        margin: 1.5rem 0 0 0;
        font-size: 1.25em;
    }

    h4 {
        font-family: "Special Elite", sans-serif;
        line-height: 1.25em;
        margin: 1rem 0 0 0;
        font-size: 1.125em;
    }

    h5 {
        font-family: "Special Elite", sans-serif;
        line-height: 1.25em;
        margin: 0.5rem 0 0 0;
        font-size: 1em;
    }

    h6 {
        font-family: "Special Elite", sans-serif;
        line-height: 1.25em;
        margin: .5rem 0 0 0;
        font-size: 1em;
    }

    pre {
        display: block;
        background-color: rgba(27, 31, 35, 0.05);
        line-height: 1.25rem;
        padding: 1rem;
        overflow: auto;
        margin: 1.75rem 0 0 0;

        code {
            background-color: transparent;
            font-size: 100%;
            padding: 0;
        }
    }

    code {
        font-family: "Ubuntu Mono", monospace;
        font-size: 85%;
        padding: 0.2em 0.4em;
        margin: 0;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
    }

    blockquote {
        margin: 0 1rem;

        &::before {
            position: absolute;
            content: "\201C";
            font-size: 6em;
            font-family: roboto, serif;
            line-height: 1.5rem;
            margin-top: 0.1em;
            margin-left: -0.2em;
            z-index: -1;
            color: #ededed;
        }
    }

    table {
        max-width: 100%;
        border-spacing: 0;
        margin-top: 1.5rem;

        thead {
            background: #f7f7f7;
        }

        th {
            font-weight: 500;
            padding: 0.5em 1em;
            border: 1px double #eee;
        }

        td {
            padding: 0.5em 1em;
            border: 1px double #eee;
        }
    }

    ol, ul {
        padding: 0 0 0 1.5rem;
        margin: 1.5rem 0 0 0;

        li {
            line-height: 1.5rem;
        }
    }

    li {
        ol {
            margin: 0;
        }

        ul {
            margin: 0;
        }
    }

    abbr[title] {
        text-decoration: underline double;
    }

    kbd {
        font-family: "Ubuntu Mono", monospace;
    }

    img {
        width: 100%;
    }

    details {
        margin: 1em 0;

        summary {
            cursor: pointer;
            font-size: 1.5em;
            font-weight: bold;
            overflow-wrap: break-word;
        }

        div {
            margin: .5em 0;
        }
    }

    // Netlify CMS widget styles
    @include widgetStyles;

    // App widget styles
    :global {
        @include widgetStyles;
    }
}

@media (min-width: 769px) {
    .content {
        h2 {
            position: relative;

            &::before {
                display: block;
            }
        }

        h3, h4, h5 {
            position: relative;
        }
    }
}
