:root {
  --theme-red: #D64550;
  --theme-blue: #51A493;
  --text-dark: #111111;
  --text-light: #fafafa;
  --primary: #fff;
  --secondary: #000;
  --theme-primary: var(--theme-blue);
  --text-primary: var(--text-dark);
  --text-secondary: var(--text-light);
  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999999;
  --accent-4: #888888;
  --accent-5: #666666;
  --accent-6: #444444;
  --accent-7: #333333;
  --accent-8: #111111;
  --accent-9: #000;
  --desktop: 900px;
  --tablet: 600px;
  --mobile: 480px;
  --xs: 320px;
  --header: 148px;
  --footer: 98px;
}

[data-theme=dark] {
  --theme-primary: var(--theme-red);
  --primary: #000;
  --secondary: #fff;
  --text-primary: var(--accent-8);
  --text-secondary: var(--accent-1);
  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
}
