::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #cccccc;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 1em;
}

#app {
    ::-webkit-scrollbar {
        @apply w-2
    }
    ::-webkit-scrollbar-track {
        @apply shadow;
    };
}
